# Intellij
*.iml
.idea

# npm
node_modules
package-lock.json

# build
*.js.map
dist
build
coverage
/main.js
/main.js.map
/manifest.json
/main.css
/main.css.map
/styles.css
/styles.css.map

# obsidian
data.json
